#!/bin/sh

# merge custom x resources
xrdb -merge "${HOME}/.Xresources" &
 
# compositing manager
compton -b --config ~/.config/compton.conf &

# clipboard manager
(sleep 3s && clipit) &

# disable touchpad while typing
syndaemon -d -k -t -i 2 &
